.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0;
  background: linear-gradient(to top, #11364c, #14345f);
  background-cize: cover;
  min-height: 100vh;
  font-family: Arial, sans-serif; /* Опционально: шрифт */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  z-index: 1000; /* Чтобы окно было поверх других элементов */
}

/* Содержимое модального окна */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Фиксированная ширина */
}

.modal-content h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

/* Кнопки модального окна */
.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-button {
  background-color: #28a745; /* Зеленый цвет */
  color: white;
}

.cancel-button {
  background-color: #dc3545; /* Красный цвет */
  color: white;
}

.confirm-button:hover {
  background-color: #218838; /* Темнее при наведении */
}

.cancel-button:hover {
  background-color: #c82333; /* Темнее при наведении */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
